.box {
    width: 450px;
    height: 200px;
    background-color: #e9d8d8; /* สีฟ้าของกล่อง */
    border: 2px solid #2980b9; /* เส้นขอบ */
    margin: 20px auto; /* จัดให้อยู่ตรงกลาง */
}
.button-large {
    font-size: 24px; /* ขนาดตัวอักษรที่ใหญ่ขึ้น */
    padding: 10px 20px; /* ระยะขอบภายในของปุ่ม */
    background-color: #4CAF50; /* สีพื้นหลังของปุ่ม */
    color: white; /* สีตัวอักษร */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  