.StyleLogin {
    background-Color: #990701;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-Items: center;
    margin: 0;
}

.headerStyle {
    color: white;
    font-Size: 3rem;
    margin-Bottom: 20px;
    font-Weight: bold;
}
.contentStyle  {
    display: flex;
    background: white;
    border-Radius: 5px;
    box-Shadow: 0 4px 6px rgba(0, 0, 0, 0);
    overflow: hidden;
  }

  .inner {
    padding: 20px;
    background: #fff;
    max-width: 850px;
    margin: 50px;
    display: flex;
    border-Radius: 5px;
    
  }

  .formStyle {
    padding: 20px;
    width: 300px;
    display: flex;
    flex-Direction: column;
    align-Items: center;
    text-Align: center;
  }

  .imageStyle {
    width: 300px;
    height: auto;
  }
