/* คอนเทนเนอร์ของส่วนการขาย */
.sales-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-family: Arial, sans-serif;
   
}

.date-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}



/* ตารางการขาย */
.sales-table {
    width: 100%; /* ปรับขนาดของตารางเพื่อให้มีพื้นที่สำหรับปุ่ม */
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* เซลล์ตาราง */
.sales-table th, .sales-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

/* หัวตาราง */
.sales-table th {
    background-color: rgb(135, 187, 235);
    color: white;
}

/* ส่วนท้ายตาราง */
.sales-table tfoot td {
    font-weight: bold;
}

/* ปุ่มรายละเอียด */
.details-button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px;
    cursor: pointer;
}
/* ส่วนของปุ่มสรุปยอดขาย */
.summary-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end; /* ปรับตำแหน่งของปุ่มให้อยู่ทางขวา */
    position: absolute; /* ทำให้ปุ่มอยู่ด้านบน */
    top: 20%; /* ระยะห่างจากด้านบน */
    right: 100px; /* ระยะห่างจากด้านขวา */
    z-index: 10; /* ทำให้ปุ่มแสดงด้านบน */
}

/* ปุ่มสรุปยอดขาย */
.summary-button {
    padding: 10px;
    background-color: rgb(168, 16, 16);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    width: 300px;
    height: 60px;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
}

/* ปุ่มสรุปยอดขายเมื่อโฮเวอร์ */
.summary-button:hover {
    background-color: #c22c2c;
}


.summary-header {
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}
.ax{
    margin-right: 30%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: red;
    
}
.frame {
    width: 1200px;
    height: 700px;
    /* ขอบกล่องเนื้อหา */
    border-top: none;
    /* เอาขอบบนออก เพื่อให้ดูต่อเนื่องกับหัวข้อ */
    overflow-y: auto;
    /* เพิ่ม scrollbar แนวตั้ง */
    background-color: #fcfcfc;
    /* สีพื้นหลังของเนื้อหา */
    border-radius: 0 0 8px 8px;
    /* มุมกล่องส่วนล่าง */
    box-sizing: border-box;
    /* รวม padding และ border ในการคำนวณขนาด */
    -ms-overflow-style: none;
    /* ซ่อน scroll bar ใน IE และ Edge */
    scrollbar-width: none;
}