
.tabbar {
    display: flex;
    align-items: center;            /* จัดให้อยู่กลางแนวตั้ง */
    background-color: #b71c1c;     
    color: white;                   /* สีตัวอักษร */
    padding: 15px;                 
    font-family: Arial, sans-serif; /* ฟอนต์ */
    width: 100%;                    /* ให้กว้างเต็มจอ */
    height: 30px;                   /* เพิ่มความสูงให้มากขึ้น */
    position: fixed;                /* ทำให้ตำแหน่งคงที่ */
    top: 50%;                       /* กำหนดให้อยู่กลางแนวตั้ง */
    transform: translateY(-50%);    /* ปรับตำแหน่งให้อยู่กลางแนวตั้ง */
    z-index: 1000;                  /* เพิ่ม z-index เพื่อให้แน่ใจว่ามีลำดับชั้นที่สูง */
}
.left-buttons {
    display: flex;
    align-items: center;
  }


.tabber-increase  :hover {
    color: rgb(243, 229, 229);             /* เปลี่ยนสีตัวอักษรเมื่อ hover */
    background-color: rgba(233, 220, 220, 0.8); /* ปรับพื้นหลังให้โปร่งใสเมื่อ hover */
    border: 1px solid rgba(238, 228, 228, 0.7); /* เพิ่มเส้นขอบโปร่งใส */
}

.tabber-increase {
    width: 50px; /* กำหนดความกว้างของกล่องข้อความ */
    height: 50px; /* กำหนดความสูงของกล่องข้อความ */
    border-radius: 10px; /* ปรับขอบโค้งของปุ่ม */
    background-color: #e9e9e9; /* สีพื้นหลังของปุ่ม */
    border: 1px solid #f1d6d6; /* กำหนดขอบของปุ่ม */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อ hover */
    display: flex;    
    font-size: 40px;
    color: #c7c6c4;
    justify-content: center; /* จัดตำแหน่งข้อความในแนวนอน */
    display: flex;
    align-items: center; /* จัดตำแหน่งข้อความในแนวตั้ง */
    transition: all 0.3s ease;       /* เพิ่มการเคลื่อนไหวแบบนุ่มนวล */  
    cursor: pointer;                 /* แสดง cursor แบบ pointer เมื่อ hover */
}
.type-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .type-product {
    width: auto;
    height: 40px;
    background-color: rgb(185, 19, 19);    /* สีพื้นหลังเริ่มต้น */
    color: white;                           /* สีตัวอักษร */
    border: 2px solid transparent;          /* เริ่มต้นด้วยขอบโปร่งใส */
    margin-right: 10px;                     /* เพิ่มระยะห่างระหว่างกล่อง */
    font-size: 18px;                        /* ขนาดตัวอักษร */
    cursor: pointer;                        /* เปลี่ยน cursor เมื่อ hover */
    padding: 2px 2px;                       /* เพิ่ม padding */
    transition: all 0.3s ease;              /* เพิ่มการเคลื่อนไหวแบบนุ่มนวล */
    border-radius: 10px;                    /* ปรับขอบเป็นมุมโค้ง */
    display: flex;                           /* ใช้ Flexbox เพื่อจัดตำแหน่งข้อความ */
    align-items: center;                    /* จัดตำแหน่งในแนวตั้ง */
    justify-content: center;                 /* จัดตำแหน่งในแนวนอน */
}

/* กำหนดสีเมื่อ hover */
.type-product:hover {
    color: rgb(243, 229, 229);             /* เปลี่ยนสีตัวอักษรเมื่อ hover */
    background-color: rgba(189, 27, 21, 0.8); /* ปรับพื้นหลังให้โปร่งใสเมื่อ hover */
    border: 2px solid rgba(243, 229, 229, 0.7); /* เพิ่มเส้นขอบโปร่งใส */
}
