/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 255, 0.5);
    background-color: white;
  }
  
  .logo {
    color: blue;
    margin: 0;
  }
  
  .nav a {
    margin-left: 15px;
    text-decoration: none;
    color: blue;
  }
  