* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.page-layout {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.left-buttons {
    position: absolute;
    top: 100px; /* Adjust top position */
    left: 50px; /* Adjust left position */
    display: flex;
    flex-direction: row; /* Change to row to align buttons side by side */
    gap: 20px; /* Space between buttons */
}

.qr-code-btn, .cash-btn {
    padding: 20px 60px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.qr-code-btn {
    background-color: #3b5998;
    color: white;
}

.cash-btn {
    background-color: #4CAF50;
    color: white;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-top: 80px;
    background-color: #f0f0f0;
}

.payment-section {
    background-color: #ffffff;
    padding: 100px;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin-left: 250px;
}

.payment-info {
    margin: 20px 0;
}

.price, .received {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 24px;
}

.price-value, .received-value {
    font-size: 36px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.price-value.red {
    color: red;
}

.received-value.green {
    color: green;
}

.action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cancel-btn, .submit-btn {
    padding: 20px 60px;
    font-size: 24px;
    margin: 0 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.cancel-btn {
    background-color: #e74c3c;
    color: white;
}

.submit-btn {
    background-color: #3498db;
    color: white;
}
