.navbar {
    background-color: #990000;
    padding: 10px;
    width: 100%; /* ให้ navbar ขยายเต็มความกว้างของจอ */
    position: fixed; /* ทำให้ navbar ติดอยู่ด้านบนเมื่อเลื่อน */
    top: 0;
    left: 0;
    z-index: 1000; /* ให้อยู่เหนือเนื้อหาส่วนอื่น */
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
  .navbar-item {
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .navbar-item.navbar-user {
    background-color: #0057e7;
    border-radius: 5px;
  }
  
  .navbar-item.navbar-logout {
    background-color: #e74c3c;
    border-radius: 5px;
  }
  