.new-container {
    width: 1300rem;
    height: 430rem;
    background-color: #d3d3d3df;
    border-radius: 10rem;
    padding: 20rem;
    position: absolute;
    top: 56.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.price-section{
    margin-bottom: 20rem;
    display: flex;
    flex-direction: column;    /* จัดเรียงตามแนวตั้ง */
    align-items: center;
}
  
.label {
    margin-bottom: 5rem;
    font-weight: bold;
    font-size: 28rem;
    margin-top: 90rem;
}
  
.price-box {
    width: 40%;
    height: 40rem;
    background-color: white;
    border: 5rem solid #c30000;
    border-radius: 15rem;
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30rem;
    font-weight: bold;
    color: rgb(79, 79, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10rem;
    padding: 10rem;
    margin-top: 10rem;
    margin-left: 20rem;
}
  
.button-container button {
    padding: 10rem 20rem;
    border: none;
    border-radius: 5rem;
    font-size: 18rem;
    cursor: pointer;
    font-weight: bold;
}
  
.button-container button:first-of-type {
    background-color: #0080ff; /* ปุ่ม QR Code สีฟ้า */
    color: white;
    width: 160rem;
    padding: 18rem;
    border-radius: 10rem;
}
  
.button-container button:last-of-type {
    background-color: #32cd32; /* ปุ่ม เงินสด สีเขียว */
    color: white;
    width: 150rem;
    border-radius: 10rem;
}

.button-container button:hover {
    opacity: 0.8; /* ลดความทึบเมื่อลากเมาส์ */
}

.con-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 20rem;
}
  
.con-button button:last-of-type {
    background-color: #009dff;  /* สีของปุ่มคิดเงิน */
    color: white;
    width: 400rem;
    font-size: 35rem;
    height: 50rem;
    border-radius: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
  
.con-button button:hover {
    opacity: 0.8; /* ลดความทึบเมื่อลากเมาส์ */
}

.con-button2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 20rem;
}
  
.con-button2 button:last-of-type {
    background-color: #1a237e;  /* สีของปุ่มคิดเงิน (สีน้ำเงินเข้ม) */
    color: white;
    height: 25rem;
    width: 250rem;
    font-size: 15rem;
    border-radius: 18rem;
    margin-top: -10rem;
    border: none;
}
  
.con-button2 button:hover {
    opacity: 0.8; /* ลดความทึบเมื่อลากเมาส์ */
}
