body {
    background-color: #ffffff;
}

.nav-link {
    color: white !important;
}

.nav-link.active {
    background-color: #b71d1a;
    border-radius: 5px;
}

.user-icon {
    background-color: #2f94cf;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* Content section */
.content {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
}

/* Date Picker Styling */
.date-picker {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.date-picker span {
    margin-left: 5px;
    font-weight: bold;
}

.btn-download {
    background-color: #009BE5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Table styling */
table {
    width: 100%;
    background-color: #e5e5e5;
    border-radius: 10px;
}

table th,
table td {
    text-align: center;
    vertical-align: middle;
}

.table thead th {
    background-color: #2f94cf;
    color: white;
}

.table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Summary Buttons */
.summary-buttons .btn {
    width: 100%;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}

.summary-buttons .btn.active {
    background-color: #9AA07E;
}

/* Footer styling */
footer {
    background-color: #b71d1a;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.summary-buttons {
    margin-top: 60px;
}
