.sales-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.date-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-icon {
    font-size: 24px;
}

.sales-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;    
}

.sales-table th, .sales-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.sales-table th {
    background-color: rgb(135, 187, 235);
    color: white;
}

.sales-table tfoot td {
    font-weight: bold;
}

.details-button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.summary-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summary-button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}

.summary-button:hover {
    background-color: #45a049;
}
